:root {
  --hotspot-1-image: url(https://uploads.codesandbox.io/uploads/user/fa64577d-effb-4326-9289-84f797005d07/tf0Q-violin.png);  
  --hotspot-1-height: 100px;
  --hotspot-1-width: 150px;


}
